<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Top US News Headlines</title>
</head>
<body>
  <h1>Top US News Headlines</h1>
  <ul>
    <% headlines.forEach(function(item){ %>
      <li><a href="<%= item.url %>"><%= item.site %></a>: <%= item.headline %></li>
    <% }); %>
  </ul>
</body>
</html>
